/*FOR THE ENTIRE BACKGROUND*/
html{
    background: rgba(57, 228, 108, 0.486);
    /*
      background-color: rgba(104, 199, 117, 0.726);
      */
}

    /*FIRST FORM -FOR EMPLOYESS*/
#ab{
    margin: 60px;
    margin-left: 580px;    
    
}

    /* FOR THE ALL THAT ARE UNDER FORM*/
form{
  background-color: #fff;
  box-shadow: 6px 6px 7px #000, 7px 7px 7px #fff;
  color: #000000;
  width: 420px;
  height: 610px;
  border-radius: 15px;
  padding: 0px;
  margin: auto;
  margin-top: 110px;
}
        /* FOR THE HEADERS PARTS */
  h1{
      text-align: center;
      font-size: 35px;
      font-family: 'Courier New', Courier, monospace;
      font-weight: 15px;
      font-weight: bold;
  }
        /* FOR LABEL PART ONLY TAG */
  label{
      font-size: 22px;
      font-weight: bold;
      padding-left: 15px;
  }

    /* FOR THE INPUT PART ONLY */
  input{
      width: 365px;
      margin-bottom: 20px;
  }
    /* FOR THE INPUT ONLY*/
  input[type="text"]
  {
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  width: 300px;
  height: 32px;
  color: #000000;
  font-size: 26px;
  padding-left: 0px;
  margin: 17px;
  }
    /* FOR THE PASSWORD ONLY*/
input[type=password]{
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    outline: none;
    width: 300px;
    height: 32px;
    color: #000000;
    font-size: 26px;
    padding-left: 0px;
    margin: 17px;
} 
    /* FOR THE ALL PLACE - HOLDERS*/
::placeholder{
    color: rgba(64, 30, 30, 0.463);
    font-size: 20px;
}
    /* FOR THE LINK (A) AND THE A-HOVER ONLY */
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: #fff;
    text-decoration: unset;
    font-size: 30px;
}

    /* FOR THE BUTTON WHEN CLICKED */
button:hover{
    text-decoration: unset;
    font-size: 27px;
    background-color: blue;
}
    /* FOR THE BUTTON ONLY PART */
button{
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-weight: 7px;
    font-weight: 10px;
    height: 45px;
    background-color: rgb(41, 175, 41);
    border-radius: 20px;
    border: 0px solid;
    padding: 0px;
    margin: 17px;
    width: 370px;
    padding-left: 10px;
}

    /* FOR THE PARAGRAPHY -FORGOT PASSWORD PART & THE HOVER PART*/
p,#jk{
  text-align: right;
  font-style: italic;
  padding-right: 20px;
  color: rgba(33, 33, 214, 0.87);
}
#jk:hover{
    text-decoration: unset;
    font-size: 16.5px;
    text-decoration: 1px underline blue;
}
